<div class="col col-lg-12 col-centered">

  <div class="card col-lg-12 bg-light col-centered">
    <div class="card-header">
      <h3> Requisições solicitadas </h3>
    </div>
    <div class="card-body col-lg-12 col-centered">
      <table class="table table-striped table-hover table-bordered col-centered">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Abertura</th>
            <th class="text-center">Última atualização</th>
            <th class="text-center">Departamento</th>
            <th class="text-center">Status</th>
            <th class="text-center">Movimentações</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let requisicao of requisicoes$ | async ">
            <td class="text-center">{{requisicao.dataAbertura?.toDate() | date : 'dd/MM/yyyy HH:mm'}}</td>
            <td class="text-center">{{requisicao.ultimaAtualizacao?.seconds * 1000  | date : 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-center">{{requisicao.destino.nome}}</td>
            <td class="text-center">{{requisicao.status}}</td>
            <td class="text-center">
              <span class="badge badge-pill badge-secondary">
                {{!requisicao.movimentacoes?.length ? '0': requisicao.movimentacoes?.length}}
              </span>
            </td>
            <td class="text-center">
              <button type="button" (click)="add(requisicao)" class="btn btn-info">
                <i class="fa fa-plus-circle"></i>
              </button>
              <button type="button" (click)="verMovimentacoes(requisicao)" class="btn btn-success">
                <i class="far fa-list-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>

      <div class="text-center">
        <a [routerLink]="['/admin/painel']" class="btn btn-primary ">
          <i class="fa fa-search" aria-hidden="true"></i>
          Voltar</a>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Dados da Requisição" [style]="{ width: '80vw' }" [contentStyle]="{'overflow':'visible'}"
  [(visible)]="displayDialogMovimentacao" [responsive]="true" [modal]="true">
  <div class="p-fluid p-formgrid p-grid" *ngIf="form.value">
    <div class="p-field p-col-12 p-md-12">
      <label for="departamento">Solicitante:</label>
      <div class="ui-grid-col-8 text-primary">
        {{requisicaoSelecionada?.solicitante.nome}}
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="solicitacao">Solicitação:</label>
      <textarea rows="5" cols="30" disabled pInputTextarea [value]="requisicaoSelecionada?.descricao"></textarea>
    </div>
  </div>
  <form [formGroup]="form" class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <label for="departamento">Status*:</label>
      <ng-select [items]="listaStatus" formControlName="status">
      </ng-select>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="descricao">Descricao*:</label>
      <textarea rows="5" cols="30" pInputTextarea formControlName="descricao"></textarea>
    </div>
  </form>
  <div *ngIf="form.controls['status'].errors || form.controls['descricao'].errors" class="text-warning text-left ">
    *Preenchimento Obrigatório</div>
  <div class="p-d-flex p-jc-end">
    <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="save()">
      <i class="fas fa-check-circle"></i> {{edit ? 'Atualizar' : 'Salvar'}}
    </button>
  </div>
</p-dialog>

<app-lista [displayDialogMovimentacoes]="displayDialogMovimentacoes" [movimentacoes]="movimentacoes"
  [requisicaoSelecionada]="requisicaoSelecionada" [funcionarioLogado]="funcionarioLogado"
  (displayChange)="onDialogClose($event)"></app-lista>
