.ng-valid.required {
  background-color: lightgreen;
}

.ng-invalid:not(form) {
  background-color: rgb(235, 185, 185);
}

.ui-grid-row div {
  padding: 4px 10px
}

.ui-grid-row div label {
  font-weight: bold;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.btn{
  margin: 5px;
}
